{
	"printWidth": 100,
	"tabWidth": 3,
	"useTabs": false,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "consistent",
	"htmlWhitespaceSensitivity": "ignore",
	"jsxSingleQuote": false,
	"trailingComma": "es5",
	"bracketSpacing": false,
	"jsxBracketSameLine": true,
	"bracketSameLine": false,
	"arrowParens": "always"
}